@page "/auslaufjournal"
@inject JournalCalculator jc
@inject DataContext context

<h1>Auslaufjournal</h1>

<div class="text-center">

    <img src="images/generate.png" />
    <br />
    <br />
    <MatButton Raised="true">Auslaufjournal generieren</MatButton>
</div>

@code {

}
